.mainContainer{
    padding: 3rem;
}

.leftSide p{
    font-family: 'Nato Sans', sans-serif;
    font-size: 2.5rem;
    color: #052F5F;
    font-weight: 700;
}

.leftSide{
    width: 100%;
    align-self: center;
}

.accordionContainer{
    width: 100%;
}

.accordionContainer .accordionItem{
    border-bottom: 1px solid #052F5F !important;
    border: none;
}

.accordionBody a{
    font-family: 'Nato Sans', sans-serif;
    font-weight: 700;
    text-decoration: none;
    color: #052F5F;
}

@media (max-width: 959px){
    .mainContainer{
        display: flex;
        flex-wrap: wrap;
        padding: 0;
    }
    .leftSide p{
        font-size: 1.3rem !important;
    }

    .leftSide{
        text-align: center;
        margin-bottom: 2rem;
    }
}

