html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  font-family: 'Noto Sans', sans-serif;
}

.rec .rec-arrow-right,
.rec .rec-arrow-left
{
  color: white;
}

.accordion-button:not(.collapsed){
  color: #052F5F !important;
  background: none !important;
}

.accordion-button:focus{
  border-color: none !important;
  box-shadow: none !important;
  color: #052F5F;
}

.accordion-button{
  font-family: 'Nato Sans', sans-serif !important;
  font-weight: bold !important;
}

.accordion-button{
  color: #052F5F !important;
}
