.nav{
    width: 93%;
    margin: auto;
}

.navContainer{
    display: flex;
}

.logo img{
    height: 50px;
    max-width: 100%;
}

.expertBtn{
    padding: 6px 16px;
    border-radius: 30px;
    background-color: #0C748C;
    outline: none;
    color: white;
    border: none;
}

.menu{
    /* font-size: 20px; */
    display: flex;
    justify-content: space-between;
    margin-left: auto;
    align-items: center;
}

.menu a{
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.hiddenContainer{
    position: absolute;
    left: -100%;
}

.sideBarContainer{
    position: fixed;
    background: transparent linear-gradient(263deg, #052F5F 0%, #010913 100%);
    overflow: hidden;
    width: 55%;
    height: 100%;
    top: 0;
    color: white;
    font-family: 'Nato Sans', sans-serif;
    font-weight: 700;
    animation: sidebar-in 0.3s ease-in-out;
}

@keyframes sidebar-in {
    0% {
      left: -100%;
    }
    100% {
      left: 0;
    }
}

.sideMenu{
    width: 80%;
}

.show{
    display: none;
}

.sideMenu ul{
    list-style-type: none;
}

.sideMenu ul li{
    padding: 15px 0;
    font-size: 1.3rem;
}

.hamburger{
    display: none;
}

@media (max-width: 768px){

    .menuItems{
        display: none;
    }
    .menu{
        justify-content: end;
        display: none;
    }
    .hamburger{
        display: block;
    }

    .hamburger a i{
        align-items: center;
        font-size: 2rem;
        color: black;
        float: right;
    }

    .navContainer{
        justify-content: space-between;
    }

}