.mainContainer{
    padding: 4rem 0;
}

.leftContainer{
    max-width: 75%;
    display: flex;
    flex-grow: 1;
}

.leftContent{
    margin-left: 4rem;
}

.leftContainer .leftContent .title{
    font-size: 2.5rem;
    font-family: 'Noto Sans', sans-serif;
    font-weight: 700;
    color: #052F5F;
}




.leftContainer .leftContent .title span{
    color: #8297AF;
}

.pointer .pointerTitle{
    font-size: 1.8rem;
    font-family: 'Noto Sans', sans-serif;
    font-weight: 700;
    color: #052F5F;
}

.pointer .pointerSubTitle{
    font-size: 1.3rem;
    font-family: 'Noto Sans', sans-serif;
    font-weight: 300;
    color: #052F5F;
}

.phoneImage {
    max-width: 18%;
    height: auto;
    align-self: center;
    margin-right: 2rem;
}

.lineBreak{
    max-width: 90%;
    margin: auto;
    margin-bottom: 4rem;
}
hr.lineBreak{
    height: 2px;
}

.knowYourFundsContainer{
    padding: 0 4rem;
}

.knowYourFundsContent{
    align-items: center;
    text-align: center;
}

.knowYourFundsContainer .knowYourFundsContent .knowYourFundsTitle{
    font-size: 2.5rem;
    font-family: 'Nato Sans', sans-serif;
    color: #052F5F;
}


.knowYourFundsContainer .knowYourFundsContent .knowYourFundsTitle span{
    font-family: 'Nato Sans', sans-serif;
    font-weight: 700;
}

.knowYourFundsContainer .knowYourFundsContent .knowYourFundsSubTitle{
    font-size: 1.4rem;
    font-family: 'Nato Sans', sans-serif;
    color: #052F5F;
}

/* .carouselItem{
    width: 30%;
    height: auto; */
    /* max-width: 33%; */
    /* padding-bottom: 4rem;
    width: 254px;
    max-width: 254px;
    min-width: 110px;
    text-align: center;
    line-height: 110px;
    margin-left: 1rem;
    margin-right: 1rem;
} */

/* .carouselSection a img{
    width: 30%;
    margin: auto;
    max-width: 33%;
} */






.carouselSection{
    display: flex;
    overflow-x: auto;
}


.leftContainer .leftContent .title p:nth-child(2){
    margin-left: 1rem;
}


@media (min-width: 1522px){
    .carouselSection a{
        width: 30%;
        margin: auto;
        max-width: 33%;
    }  
    
}


@media (max-width: 1521px) and (min-width: 960px){
    /* .carouselItem a img{
        max-width: 90%;
    } */

    .carouselSection a img{
        max-width: 90%;
    }
    .carouselSection{
        width: 100%;
        display: flex;
        max-width: 100%;
        margin-top: 2rem;
    }

    /* .carouselSection a{
        width: 30%;
        margin: auto;
        max-width: 33%;
    } */
    
}


@media (max-width: 959px){
    .leftContainer .leftContent .title{
        font-size: 1.75rem !important;
        text-align: right;
    }

    .phoneImage{
        display: none;
    }

    .pointerTitle{
        font-size: 1.2rem !important;
    }

    .pointerSubTitle{
        font-size: 1rem !important;
    }

    .mainContainer{
        padding: 2rem 0.5rem;
        padding-right: 0;
    }

    .leftMargin{
        max-width: 100%;
    }

    .leftContent{
        margin: 0 10px;
        max-width: 90%;
    }

    .knowYourFundsTitle{
        font-size: 1.5rem !important;
    }

    .knowYourFundsSubTitle{
        font-size: 1rem !important;
    }

    .knowYourFundsContainer{
        height: 100%;
        padding: 0 0.2rem 0 0.5rem;
        margin-right: 0;
        max-width: 100%;
    }

    .carouselSection a img{
        width: 254px !important;
        max-width: 254px !important;
        min-width: 110px !important;
        background: #ddd;
        text-align: center;
        line-height: 110px;
        margin-left: 1rem !important;
        margin-right: 1rem !important;
    }

}



